__pycache__
asap-polaris-blind-challenge-examples
chemprop_*
data
hyper_param/polaris
hyper_param/result_table
hyper_param/tdc
hyper_param/openadmet/TorchTrainer*
jobs_polaris
jobs_tdc
jobs_openadmet/openadmet_AZ_train.sh
jobs_openadmet/openadmet_Merck_train.sh
jobs_openadmet/openadmet_QM9_train.sh
jobs_openadmet/openadmetOnly_fromPolaris_train.sh
jobs_openadmet/openadmetOnly_train2.sh
jobs_openadmet/openadmet_Nova_train_2.sh
jobs_openadmet/openadmet_MEGA.sh
slurm_out
lenselink_curation/lenselink_asap*
lenselink_curation/lenselink_sampl*
lenselink_curation/lenselink_AZ.sh
lenselink-Datautils
mordred*
padel*
UMA
calici*
image
*_log
lenselink_split.py
tdc_split.py
polaris_split.py
model_scripts/polaris_*
model_scripts/tdc_*
notebooks
old_*
selected_slurm
3d_cache*
submission
compare_featuriser.sh